@import './../../app';

.index {
  // height:400px;
  background-color: #fff;
}

.at-tabs__item {
  color:#070707;
}

.at-tabs__item--active {
  color:$color-brand;
}

.notice{
  background-color: #ffc4c4;
  padding:12rpx;
  text{
    font-size: 22rpx;
    color:#c60000;
    display: block;
  }
}
.empty {
  text-align: center;
  width:100%;
  display: inline-block;
  margin:20rpx 0;
  font-size: 24rpx;
}
.cal{
  margin:20rpx 0;
}
.margin20{
  At-button{
    margin:20rpx 0;
  }
}
