$color-brand: #ffcf00;
$text-main: #353b50;
$panel-blank:#f9faf9;
$shadow-color:darken($panel-blank,10%);
$panel-bg:#fff;
$img-blank:#f5f5f6;
$custom-base-color:#fff;
$at-calendar-mark-size: 16px !default;
$custom-forward-color: #404146;

.orderInfoTagDay{
  background-color: #ffb800;
  color:#000;
}
.orderInfoTagNight{
  background-color: #0075ff;
  color:#fff;
}
.orderInfoTagAll{
  background-color: #cf0000;
  color:#fff;
}


.at-calendar {
  &__list {
    &.flex {
      .flex__item {
        &-extra {
          .extra-marks {
            .mark1 {
              background-color: #ffb800!important;
            }
            .mark2 {
              background-color: #0075ff!important;
            }
            .mark3 {
              background-color: #cf0000!important;
            }
          }
        }
      }
    }
  }
}
