@import './../../app';

.index {
  // height:400px;
  background-color: #eee;
}

.session{
  background-color: #fff;
  width:100%;
  margin:16rpx 0 0;
  .header{
    font-size: 24rpx;
    padding:16rpx;
    border-bottom: 1rpx solid #eee;
  }
  .right{
    float: right;
  }
  .thumb{
    height:160rpx;
    width:160rpx;
    margin:16rpx;
  }
  .body{
    .contents{
      margin:16rpx;
      text{
        display: block;
        font-size: 22rpx;
        margin:5rpx 0;
      }
    }
  }
  .footer{
    border-top: 1rpx solid #eee;
    background-color: #ffc4c4;
    padding:12rpx;
    text{
      font-size: 22rpx;
      color:#c60000;
    }
  }
}
