@import './../../app';

.normal {
  border: 6rpx solid $color-brand;
  border-radius: 50%;
  width:80rpx;
  height:80rpx;
  .inner {
    width:68rpx;
    height:68rpx;
    border-radius: 50%;
    margin:6rpx;
    background-color: #fff;
  }
}

.small {
  border: 5rpx solid $color-brand;
  border-radius: 50%;
  width:54rpx;
  height:54rpx;
  .inner {
    width:48rpx;
    height:48rpx;
    border-radius: 50%;
    margin:3rpx;
    background-color: $color-brand;
  }
}
