@import './../../app';

.grid {
  border-radius: 12rpx;
  overflow: hidden;
  height: 350rpx;
  width:250rpx;
  box-shadow: 0 0 30rpx darken($shadow-color,15%); 
  margin: 30rpx 20rpx;
  background: darken($img-blank,70%);
}

.image {
  width:100%;
  height:100%;
}

.avatar {
  position: relative;
  bottom:10rpx;
  left:10rpx;
}

.alt {
  position:relative;
  display:block;
  bottom: 300rpx;
  left: 80rpx;
  color:#9a9a9a;
  font-size: 24rpx;
}
