@import './../../app';

.grid {
  border-radius: 12rpx;
  overflow: hidden;
  height: 350rpx;
  width:250rpx;
  box-shadow: 0 0 20rpx #000;
  margin: 20rpx;
}

.area {
}

.image {
  width:100%;
  height:100%;
}

.content {
   width:100%;
   white-space:nowrap;   // 注释1
   overflow-x:auto;
   margin: 0;
   padding: 0;
   c-card {        // 注释3
    list-style:none;
    display:inline-block;
    margin-right:0.1rem;
    // text-align:center;
    overflow:visible;
  }
  .content:nth-child(1){
    margin-left: 0.1rem;
  }
  .lowtwo{
    border:1px solid red!important;
  }
  .content::-webkit-scrollbar {  // 注释2
    width:0;
    height:0;
    display: none;
  }
}

.title {
  color:#fff;
  font-size: 48rpx;
  margin:10rpx 30rpx 0;
}

.more {
  width:120rpx;
  float:right;
  margin: 20rpx 10rpx;
  .btn {
    height:36rpx;
    line-height: 36rpx;
    border-radius: 18rpx;
    background-color: $color-brand;
    font-size: 24rpx;
    color:#fff;
  }
}
