@import './../../app';

.base {
  border-radius: 45rpx;
  height: 90rpx;
  margin: 0 20rpx 20rpx;
  text-align: center;
  line-height: 90rpx;
  background-color: $custom-base-color;
}

.solid {
  background-color: $custom-base-color;
  color:complement($custom-base-color);
}
.glow {
  box-shadow: 0 0 10px darken($shadow-color,5%);
}
.border {
  border:2px solid $custom-base-color;
  color:$custom-base-color;
  background-color: transparent;
}
