@import './../../app';

.index {
  // height:400px;
  background-color: #eee;
  width:100%
}

.session{
  background-color: #fff;
  width:100%;
  margin:16rpx 0 0;
  .header{
    font-size: 24rpx;
    padding:16rpx;
    border-bottom: 1rpx solid #eee;
  }
  .right{
    float: right;
  }
  .thumb{
    height:160rpx;
    width:160rpx;
    margin:16rpx;
  }
  .body{
    .contents{
      margin:16rpx;
      text{
        display: block;
        font-size: 22rpx;
        margin:5rpx 0;
      }
    }
    .at-list__item {
      font-size: 24rpx;
      .item-extra__info {
        font-size: 24rpx;
      }
    }
    .at-radio__title {
      font-size: 24rpx;
    }
  }
  .footer{
    border-top: 1rpx solid #eee;
    background-color: #ffc4c4;
    padding:12rpx;
    text{
      font-size: 22rpx;
      color:#c60000;
      display: block;
    }
  }
}

.safeArea {
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}
.bottom {
  position: fixed;
  width:100%;
  bottom:0;
  .margin {
    margin: 20rpx 10rpx;
  }
}
.empty {
  text-align: center;
  width:100%;
  display: inline-block;
  margin:20rpx 0;
  font-size: 24rpx;
}
.blank {
  background-color: #fff;
}
.canvas {
  height:150px;
  width:150px;
  margin:20rpx auto;
}
