@import './../../app';

.index {
  // height:400px;
  width:100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  .topBG{
    height:500rpx;
    width:100%;
    background-image:linear-gradient(to bottom , $color-brand, #f6f6f6);
    position: absolute;
    top:0;
    // z-index: -99;
  }
  .contents{
    margin:24rpx;
    z-index: 99;
    .header{
      font-size: 48rpx;
      // font-weight: bold;
      color:darken($color-brand,10);
      display: block;
      margin:24rpx 30rpx;
    }
    .orderSession{
      background-color: #fff;
      border-radius: 12rpx;
      padding: 12rpx;
      font-size: 24rpx;
      .info{
        display: block;
        margin:12rpx 30rpx;
        color:#ccc;
      }
      .steps{
        margin:24rpx 0;
        .at-steps__title{
          font-size: 24rpx;
        }
      }
      .timeZone{
        padding: 24rpx 48rpx;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:stretch;
        .h1{
          line-height: 108rpx;
        }
      }
      .featureZone{
        margin: 48rpx 0;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        align-items:stretch;
        color:#444;
        .item{
          display: flex;
          flex-direction: column;
          align-items:stretch;
          text-align: center;
          .text{
            line-height:64rpx;
            font-size: 24rpx;
          }
        }
      }
    }
  }

}

.session{
  background-color: #fff;
  width:100%;
  margin:16rpx 0 0;
  .header{
    font-size: 24rpx;
    padding:16rpx;
    border-bottom: 1rpx solid #eee;
  }
  .right{
    float: right;
  }
  .thumb{
    height:160rpx;
    width:160rpx;
    margin:16rpx;
  }
  .body{
    .contents{
      margin:16rpx;
      text{
        display: block;
        font-size: 22rpx;
        margin:5rpx 0;
      }
    }
    .at-list__item {
      font-size: 24rpx;
      .item-extra__info {
        font-size: 24rpx;
      }
    }
    .at-radio__title {
      font-size: 24rpx;
    }
  }
  .footer{
    border-top: 1rpx solid #eee;
    background-color: #ffc4c4;
    padding:12rpx;
    text{
      font-size: 22rpx;
      color:#c60000;
      display: block;
    }
  }
}

.safeArea {
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}
.bottom {
  position: fixed;
  width:100%;
  bottom:0;

}
.margin {
  margin: 10rpx 10rpx 0;
  .btn{
    margin:10rpx 0;
  }
}
.empty {
  text-align: center;
  width:100%;
  display: inline-block;
  margin:20rpx 0;
  font-size: 24rpx;
}
.blank {
  background-color: #fff;
}
.canvas {
  height:150px;
  width:150px;
  margin:20rpx auto;
}

.bold{
  font-weight: bold;
}
.center{
  text-align: center;
}
