@import './../../app';

.index {
  // height:400px;
  background-color: #f5f5f6;
}
.avatar-info {
  width:100%;
  height:300rpx;
  background-color: $color-brand;
  box-shadow: 0 0 30rpx $shadow-color;
  overflow: hidden;
}
.avatar {
  margin:18rpx auto;
  width:120rpx;
  height:120rpx;
  display:block;
  overflow:hidden;
  border-radius: 50%;
  border:5rpx solid #fff;
}

.nickname {
  text-align: center;
  font-size: 32rpx;
}

.card {
  height:150rpx;
  width:88%;
  background-color: darken($color-brand,35%);
  position: relative;
  bottom: -20rpx;
  border-radius: 15rpx;
  margin:0 auto;
  box-shadow: 0 0 15rpx #000;
  text{
    font-size: 24rpx;
    color:lighten($color-brand,35%);
    display: inline-block;
    line-height: 70rpx;
    margin:0 20rpx;

  }
  .right{
    float:right
  }
}
.banner{
  background-color: #fff;
  margin:20rpx 0 ;
  width:100%;
  .list{
    padding:20rpx 0;
  }
  .header{
    padding:10rpx 20rpx;
    border-bottom: 1px solid #eee;
  }
  .title{
    display: inline-block;
    //padding:10rpx 20rpx;
    width:100%;

    font-size: 24rpx;
    font-weight: bold;
  }
}

.iButton{
  width:25%;
  height:100rpx;
  display: inline-block;
  text{
    display: block;
    font-weight: normal;
    font-size: 22rpx;
    text-align: center;
    margin:10rpx;
    color:#666;
  }
  view{
    margin: 0 auto;
  }
}

.ads {
  margin:20rpx 0;
  background-color: #fff;
  padding:10rpx;
}
