@import './../../app';

.index {
  padding-bottom: 100rpx;
  background-color: #eee;
  // padding: 10rpx 0;
}
.glow {
  box-shadow: 0 0 20px $color-brand;
}
.avatar {
  position: relative;
  bottom:84rpx;
  left:16rpx;
  c-avatar {
    display: inline-block;
  }
  text {
    display: inline-block;
    position: relative;
    bottom: 20rpx;
    left: 10rpx;
    color: $text-main;
    font-size: 20rpx;
  }
}

.priceSession{
  text-align: right;
  font-size: 36rpx;
  padding:12rpx 0;
}

// .1px{
//   display: block;
//   width:200%;
//   border-radius: 50%;
//
// }

.test-h {
  height:100vw;
  width:100vw;
}
.header {
  text {
    display: block;
    line-height: 36rpx;
  }
  background-color: #fff;
  padding:25rpx;
  font-size: 24rpx;
  .primary {
    font-weight: bold;
  }
}
.img {
  height:120rpx;
  width:120rpx;
}

.safeArea {
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}

.safeAreaM {
  margin-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  margin-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}

.scroll{
  height:500rpx;
  overflow: scroll;
}

.layer{
  .header{
    font-size: 24rpx;
    line-height: 48rpx;
    display: block;
    padding:24rpx 0;
  }
  .disc{
    margin:0 20rpx;
    text{
      display: block;
    }
    .small{
      font-size: 20rpx;
      margin:5rpx 0;
    }
  }
}

.tag {
  margin:10rpx 20rpx 10rpx 0;
}

.contents{
  margin:20rpx 0;
  padding:10rpx 20rpx;
  background-color: #fff;
  text{
    font-size: 28rpx;
    text-align: center;
    line-height: 60rpx;
    display: block;
    margin-bottom: 30rpx;
  }
}

.bottom {
  position: fixed;
  height:100rpx;
  width:100%;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  bottom:0;
  .grid {
    display: inline-block;
    height: 100rpx;
  }
  .left{
    width:50%;
    display: flex;
    justify-content: center;
  }
  .right {
    right:0;
    background-color: $color-brand;
    position: fixed;
    // bottom: 0;
    width:50%;
    text{
      display: inline-block;
      width:100%;
      text-align: center;
      line-height: 100rpx;
      font-size: 28rpx;
      font-weight: bold;
    }
  }
}

.article_p {
  font-size: 24rpx;
  margin:0;
}

.iButton{
  width:100rpx;
  height:100rpx;
  padding:10rpx 0;
  display: inline-block;
  text{
    display: block;
    font-size: 18rpx;
    text-align: center;
    color:#666;
  }
  view{
    margin: 0 auto;
  }
}

.at-tag--active.at-tag--primary{
  border-color: $color-brand!important;
  background-color: $color-brand!important;
}
