@import './../../app';

.index {
  padding-bottom: 100rpx;
  background-color: #eee;
  // padding: 10rpx 0;
}
.glow {
  box-shadow: 0 0 20px $color-brand;
}
.avatar {
  position: relative;
  bottom:84rpx;
  left:16rpx;
  c-avatar {
    display: inline-block;
  }
  text {
    display: inline-block;
    position: relative;
    bottom: 20rpx;
    left: 10rpx;
    color: $text-main;
    font-size: 20rpx;
  }
}

.priceSession{
  text-align: right;
  font-size: 36rpx;
  padding:12rpx 0;
}


.test-h {
  height:100vw;
  width:100vw;
}
.header {
  text {
    display: block;
    line-height: 36rpx;
  }
  background-color: #fff;
  padding:25rpx;
  font-size: 24rpx;
  .primary {
    font-weight: bold;
  }
}
.img {
  height:120rpx;
  width:120rpx;
}

.safeArea {
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}

.safeAreaM {
  margin-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  margin-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}

.scroll{
  height:500rpx;
  overflow: scroll;
}

.layer{
  .header{
    font-size: 24rpx;
    line-height: 48rpx;
    display: block;
    padding:24rpx 0;
  }
  .disc{
    margin:0 20rpx;
    text{
      display: block;
    }
    .small{
      font-size: 20rpx;
      margin:5rpx 0;
    }
  }
}

.tag {
  margin:10rpx 20rpx 10rpx 0;
}

.contents{
  margin:20rpx 0;
  padding:10rpx 20rpx;
  background-color: #fff;
  text{
    font-size: 28rpx;
    text-align: center;
    line-height: 60rpx;
    display: block;
    margin-bottom: 30rpx;
  }
}

.bottom {
  position: fixed;
  width:100%;
  bottom:0;
}

.article_p {
  font-size: 24rpx;
  margin:0;
}

.iButton{
  width:100rpx;
  height:100rpx;
  padding:10rpx 0;
  display: inline-block;
  text{
    display: block;
    font-size: 18rpx;
    text-align: center;
    color:#666;
  }
  view{
    margin: 0 auto;
  }
  .at-button{
    line-height: inherit;
    border: inherit;
  }
}

.at-tag--active.at-tag--primary{
  border-color: $color-brand!important;
  background-color: $color-brand!important;
}

.floatBar{
  border-radius: 9999rpx;
  margin:24rpx;
  background-color: #1d1d1d;
  box-shadow: 0 0 24px darken($shadow-color,12%);
  display: flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-end;
  overflow: hidden;
  .left{
    flex:1;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    color:$color-brand;
    .item{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color:$color-brand;
      line-height: inherit;
      padding: 0;
      background-color: transparent;
      margin: 0;
      .title{
        display: block;
        font-size: 18rpx;
        text-align: center;
        padding: 0 0 12rpx;
      }
    }
  }
  .primary{
    background-color: $color-brand;
    line-height: 96rpx;
    width:50%;
    text-align: center;
    font-weight: bold;
    font-size: 32rpx;
  }
}

.circleButton {
  background-color: #1d1d1d;
  border-radius: 48rpx;
  height: 96rpx;
  box-shadow: 0 0 24px darken($shadow-color,12%);
  overflow: hidden;
  padding:0 0 0 48rpx;
  .button{
    display:inline-block;
    float:right;
    padding:0 48rpx;
    line-height: 90rpx;
    background-color: $color-brand;
    right:-1rpx;
    font-weight: bold;
    height: 100%;
  }
  .contents{
    height: 100%;
    display:inline-block;
    .primary{
      color:#fff;
      font-size:40rpx;
      .sign{
        font-size: 24rpx;
      }
    }
    .second{
      color: #888;
      font-size: 24rpx;
      line-height: 20rpx;
    }
  }
}
