@import './../../app';

.index {
  // height:400px;
  background-color: #fff;
  padding: 10rpx 0;
}
.glow {
  box-shadow: 0 0 20px $color-brand;
}
.avatar {
  // position: relative;
  bottom:84rpx;
  left:16rpx;
  c-avatar {
    display: inline-block;
  }
  text {
    display: inline-block;
    bottom: 20rpx;
    left: 10rpx;
    color: #333;
    font-size: 28rpx;
  }
}
.1px{
  display: block;
  width:200%;
  border-radius: 50%;

}
.margin {
  margin:10rpx 20rpx;
}
.header {
  text {
    font-size: 40rpx;
    display: inline-block;
    margin:30rpx 10rpx;
  }
}
.title {
  color:$text-main;
  margin:10rpx 30rpx 0;
  .primary {
    font-size: 36rpx;
    display: block;
  }
  .second {
    font-size: 24rpx;
    display: block;
    color:lighten($text-main, 40%);
  }
}
